@import url('https://fonts.cdnfonts.com/css/stuntman');

body {
   padding: 0px;
   margin: 0px;
   background-color: grey;
}

:root {
    --margin-m: 20px;
    --padding-m: 20px;
    --btn-border-radius: 30px;
}

button {
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 100%;

  }
  
  button:active {
    opacity: 70%;
    -webkit-box-shadow: inset 0px 0px 20px 0px rgb(58, 58, 58);
    -moz-box-shadow: inset 0px 0px 20px 0px rgb(58, 58, 58);
    box-shadow: inset 0px 0px 20px 0px rgb(58, 58, 58);
    outline: none;
  }



.main-contents {
    padding: var(--padding-m);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-text {
    font-weight: 400;
    font-size: 37px;
    margin-bottom: var(--margin-m);
    margin-top: var(--margin-m);
}


.calculator-outer {
    height: 470px;
    width: 300px;
    padding: 20px;
    background-color: rgb(39, 38, 38);
    border-radius: 10px;
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
}


.calculator-clear-button {
    margin-top: var(--margin-m);
    background-color: #4CAF50;
}

.calculator-clear-button-wrapper {
    display: flex;
    align-items: flex-end;
    width: 90%;
}



.calculator-screen {
    display: flex;
    overflow: hidden;
    box-shadow: 0px 0px 12px 0px rgb(179, 179, 160);
    align-items: center;
    justify-content: flex-end;
    background-color: white;
    margin-top: 20px;
    min-height: 60px;
    width: 90%;
    border-radius: 5px;
}

.calculator-screen-text {
    font-size: x-large;
    color: black;
    padding-right: 10px;
    padding-left: 10px;
    font-family: 'Stuntman Condensed', sans-serif;
    max-width: 100%;
    overflow: hidden;
}

.button-text {
    font-size: 20px;
    font-weight: 900;
    color: white;
}

.calculator-top-row {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.calculator-top-row button {
    background-color: rgb(9, 77, 165)
}

.calculator-row button {
    background: rgb(1, 120, 255);
    margin: 5px;
}


.on-button {
    margin-top: var(--margin-m);
    margin-right: 50px;
    width: 100px;
    height: 40px;
    border: 2px solid black;
    border-radius: 20px;
}

.calculator-buttons-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}



.calculator-number-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator-operators-wrapper {
    display: flex;
    flex-direction: column;
}

.calculator-row {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}



.calculator-operator-button {
    background-color: orange;
    margin: 5px;
}

.equals-button {
    background-color: rgb(247, 172, 11) !important;
}