@import url('https://fonts.cdnfonts.com/css/stuntman');

:root {
    --margin-m: 20px;
    --padding-m: 20px;
    --btn-border-radius: 30px;
}

button:hover {
    opacity: 70%;
}

.main-contents {
    padding: var(--padding-m);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-text {
    font-weight: 400;
    font-size: 50px;
    margin-bottom: var(--margin-m);
}

.calculator-on {
    background: greenyellow !important;
}

.calculator-outer {
    padding: var(--padding-m);
    height: 700px;
    width: 550px;
    background-color: darkgray;
    border: 5px solid black;
    border-radius: 20px;
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 5px 50px 10px black;
}

.calculator-on-off {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.calculator-on-off button{
    background-color: orange;
}

.calculator-clear-button {
    margin-top: var(--margin-m);
    width: 150px;
    height: 50px;
    margin-left: 50px;
    border: 2px solid black;
    border-radius: 20px;
}

.calculator-indicator-light {
    border: 4px solid black;
    background-color: red;
    border-radius: 100px;
    margin-top: 15px;
    padding: 20px;
    margin-right: var(--margin-m);
}

.indicator-light-wrapper {
    display: flex;
    align-items: center;
}

.calculator-screen {
    background-color: rgb(122, 122, 122);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 2px solid black;
    margin-top: 50px;
    min-height: 80px;
    width: 80%;
    border-radius: 10px;
}

.calculator-screen-text {
    font-size: xx-large;
    color: white;
    padding-left: 30px;
    font-family: 'Stuntman Condensed', sans-serif;

}

.button-text {
    font-size: 25px;
    font-weight: 900;
}

.calculator-top-row {
    width: 80%;
    display: flex;
    justify-content: center;
}

.calculator-top-row button {
    background-color: rgb(29, 113, 223);
}

.calculator-row button {
    background: rgb(46, 46, 197);
}


.on-button {
    margin-top: var(--margin-m);
    margin-right: 50px;
    width: 150px;
    height: 50px;
    border: 2px solid black;
    border-radius: 20px;
}

.calculator-buttons-wrapper {
    display: flex;
    margin-top: var(--margin-m);
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}



.calculator-number-button {
    width: 145px;
    height: 90px;
}



.calculator-operator-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: var(--btn-border-radius);
    width: 145px;
    height: 90px;
}

.equals-button {
    background-color: rgb(29, 113, 223) !important;
}