
/* --! Imports !-- */
@import url('https://fonts.cdnfonts.com/css/stuntman');

/* --! General !-- */
body {
   padding: 0px;
   margin: 0px;
   background-color: grey;
}

:root {
    --margin-m: 20px;
    --padding-m: 20px;
    --btn-border-radius: 30px;
}

button {
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 100%;

  }
  
  button:active {
    opacity: 80%;
  }


/* --! Wrappers/Containers !-- */

.main-contents {
    padding: var(--padding-m);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-text {
    font-weight: 400;
    font-size: 37px;
    margin-bottom: var(--margin-m);
    margin-top: var(--margin-m);
}

.calculator-row {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.calculator-outer {
    height: 470px;
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 13px 0px;
}

.calculator-clear-button-wrapper {
    display: flex;
    align-items: flex-end;
    width: 90%;
}


.calculator-screen {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
    background-color: rgb(46, 46, 46);
    margin-top: 20px;
    min-height: 60px;
    width: 90%;
    border-radius: 5px;
}

.calculator-top-row {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.calculator-buttons-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.calculator-operators-wrapper {
    display: flex;
    flex-direction: column;
}

.footer-contents {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* --! Text !-- */
.calculator-screen-text {
    font-size: x-large;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
    font-family: 'Stuntman Condensed', sans-serif;
    max-width: 100%;
    overflow: hidden;
}



.button-text {
    font-size: 20px;
    font-weight: 900;
    color: white;
}

.sign-off-text {
    font-family: 'Courier New', Courier, monospace, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: whitesmoke;
    margin-top: 10px;
}

/* --! Buttons !-- */

.calculator-clear-button {
    margin-top: var(--margin-m);
    background-color: #4CAF50;
}

.calculator-top-row button {
    background-color: rgb(9, 77, 165)
}

.calculator-row button {
    background: rgb(1, 120, 255);
    margin: 5px;
}

.calculator-number-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator-operator-button {
    background-color: orange;
    margin: 5px;
}

.equals-button {
    background-color: rgb(247, 172, 11) !important;
}

/* --! Images !-- */
.github-logo {
    margin-top: 20px;
    cursor: pointer;
    width: auto;
    height: 50px;
}